server:
  port: 9090

spring:
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
    show-sql: true


    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  datasource:
    url: jdbc:mysql://localhost:3306/hivedb
    username: root
    password: =-098765
    driver-class-name: com.mysql.cj.jdbc.Driver